<table style="table-layout:fixed;" cellpadding="5">
    <tr>
      <td width="100%">
        <a href="javascript:location.href='staticimg/{{cycle_dir}}/he10_full.png'">
          <img style="display:block;" width="100%" name='cycle_he10_full' class="fig-with-border" src='staticimg/{{cycle_dir}}/he10_full.png'>
        </a>
      </td>
    </tr>
    <tr><td><br></td></tr>
    <tr>
      <td width="100%">
        <a href="javascript:location.href='staticimg/{{cycle_dir}}/he10_half.png'">
          <img style="display:block;" width="100%" name='cycle_he10_half' class="fig-with-border" src='staticimg/{{cycle_dir}}/he10_half.png'>
        </a>
      </td>
    </tr>
    <tr><td><br></td></tr>
    <tr>
      <td width="100%">
        <a href="javascript:location.href='staticimg/{{cycle_dir}}/low_temps.png'">
          <img style="display:block;" width="100%" name='cycle_low_temps' class="fig-with-border" src='staticimg/{{cycle_dir}}/low_temps.png'>
        </a>
      </td>
    </tr>

  </table>