<tr class="maps_{{map_tab_name}}_non_yearly">
    <td>
        <h3>RA Offsets of Points Sources</h3>
    </td>
</tr>
<tr class="maps_{{map_tab_name}}_non_yearly">
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/90GHz-T_map_delta_Ras_from_point_sources_in_ra5hdec-24.5.png'">
            <img style="display:block;" width="100%" name='ra_offsets_el0_{{map_tab_name}}' class="fig-with-border"
                src='staticimg/{{week_dir}}/90GHz-T_map_delta_Ras_from_point_sources_in_ra5hdec-24.5.png'>
        </a>
    </td>
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/90GHz-T_map_delta_Ras_from_point_sources_in_ra5hdec-31.5.png'">
            <img style="display:block;" width="100%" name='ra_offsets_el1_{{map_tab_name}}' class="fig-with-border"
                src='staticimg/{{week_dir}}/90GHz-T_map_delta_Ras_from_point_sources_in_ra5hdec-31.5.png'>
        </a>
    </td>
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/90GHz-T_map_delta_Ras_from_point_sources_in_ra5hdec-38.5.png'">
            <img style="display:block;" width="100%" name='ra_offsets_el2_{{map_tab_name}}' class="fig-with-border"
                src='staticimg/{{week_dir}}/90GHz-T_map_delta_Ras_from_point_sources_in_ra5hdec-38.5.png'>
        </a>
    </td>
</tr>  
<tr class="maps_{{map_tab_name}}_non_yearly">
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/90GHz-T_map_delta_Ras_from_point_sources_in_ra5hdec-45.5.png'">
            <img style="display:block;" width="100%" name='ra_offsets_el3_{{map_tab_name}}' class="fig-with-border"
                src='staticimg/{{week_dir}}/90GHz-T_map_delta_Ras_from_point_sources_in_ra5hdec-45.5.png'>
        </a>
    </td>
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/90GHz-T_map_delta_Ras_from_point_sources_in_ra5hdec-52.5.png'">
            <img style="display:block;" width="100%" name='ra_offsets_el4_{{map_tab_name}}' class="fig-with-border"
            src='staticimg/{{week_dir}}/90GHz-T_map_delta_Ras_from_point_sources_in_ra5hdec-52.5.png'>
        </a>
    </td>
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/90GHz-T_map_delta_Ras_from_point_sources_in_ra5hdec-59.5.png'">
            <img style="display:block;" width="100%" name='ra_offsets_el5_{{map_tab_name}}' class="fig-with-border"
            src='staticimg/{{week_dir}}/90GHz-T_map_delta_Ras_from_point_sources_in_ra5hdec-59.5.png'>
        </a>
    </td>
</tr>
<tr class="maps_{{map_tab_name}}_non_yearly">
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/90GHz-T_map_delta_Ras_from_point_sources_in_ra5hdec-29.75.png'">
            <img style="display:block;" width="100%" name='ra_offsets_el10_{{map_tab_name}}' class="fig-with-border"
                src='staticimg/{{week_dir}}/90GHz-T_map_delta_Ras_from_point_sources_in_ra5hdec-29.75.png'>
        </a>
    </td>
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/90GHz-T_map_delta_Ras_from_point_sources_in_ra5hdec-33.25.png'">
            <img style="display:block;" width="100%" name='ra_offsets_el11_{{map_tab_name}}' class="fig-with-border"
                src='staticimg/{{week_dir}}/90GHz-T_map_delta_Ras_from_point_sources_in_ra5hdec-33.25.png'>
        </a>
    </td>
</tr>  
<tr class="maps_{{map_tab_name}}_non_yearly">
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/90GHz-T_map_delta_Ras_from_point_sources_in_ra5hdec-36.75.png'">
            <img style="display:block;" width="100%" name='ra_offsets_el20_{{map_tab_name}}' class="fig-with-border"
                src='staticimg/{{week_dir}}/90GHz-T_map_delta_Ras_from_point_sources_in_ra5hdec-36.75.png'>
        </a>
    </td>
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/90GHz-T_map_delta_Ras_from_point_sources_in_ra5hdec-40.25.png'">
            <img style="display:block;" width="100%" name='ra_offsets_el21_{{map_tab_name}}' class="fig-with-border"
            src='staticimg/{{week_dir}}/90GHz-T_map_delta_Ras_from_point_sources_in_ra5hdec-40.25.png'>
        </a>
    </td>
</tr>
<tr class="maps_{{map_tab_name}}_non_yearly">
    <td><br></td>
</tr>

<tr class="maps_{{map_tab_name}}_non_yearly">
    <td>
        <h3>Dec Offsets of Points Sources</h3>
    </td>
</tr>
<tr class="maps_{{map_tab_name}}_non_yearly">
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/90GHz-T_map_delta_Decs_from_point_sources_in_ra5hdec-24.5.png'">
            <img style="display:block;" width="100%" name='dec_offsets_el0_{{map_tab_name}}' class="fig-with-border"
                src='staticimg/{{week_dir}}/90GHz-T_map_delta_Decs_from_point_sources_in_ra5hdec-24.5.png'>
        </a>
    </td>
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/90GHz-T_map_delta_Decs_from_point_sources_in_ra5hdec-31.5.png'">
            <img style="display:block;" width="100%" name='dec_offsets_el1_{{map_tab_name}}' class="fig-with-border"
                src='staticimg/{{week_dir}}/90GHz-T_map_delta_Decs_from_point_sources_in_ra5hdec-31.5.png'>
        </a>
    </td>
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/90GHz-T_map_delta_Decs_from_point_sources_in_ra5hdec-38.5.png'">
            <img style="display:block;" width="100%" name='dec_offsets_el2_{{map_tab_name}}' class="fig-with-border"
                src='staticimg/{{week_dir}}/90GHz-T_map_delta_Decs_from_point_sources_in_ra5hdec-38.5.png'>
        </a>
    </td>
</tr>
<tr class="maps_{{map_tab_name}}_non_yearly">
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/90GHz-T_map_delta_Decs_from_point_sources_in_ra5hdec-45.5.png'">
            <img style="display:block;" width="100%" name='dec_offsets_el3_{{map_tab_name}}' class="fig-with-border"
                src='staticimg/{{week_dir}}/90GHz-T_map_delta_Decs_from_point_sources_in_ra5hdec-45.5.png'>
        </a>
    </td>
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/90GHz-T_map_delta_Decs_from_point_sources_in_ra5hdec-52.5.png'">
            <img style="display:block;" width="100%" name='dec_offsets_el4_{{map_tab_name}}' class="fig-with-border"
                src='staticimg/{{week_dir}}/90GHz-T_map_delta_Decs_from_point_sources_in_ra5hdec-52.5.png'>
        </a>
    </td>
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/90GHz-T_map_delta_Decs_from_point_sources_in_ra5hdec-59.5.png'">
            <img style="display:block;" width="100%" name='dec_offsets_el5_{{map_tab_name}}' class="fig-with-border"
                src='staticimg/{{week_dir}}/90GHz-T_map_delta_Decs_from_point_sources_in_ra5hdec-59.5.png'>
        </a>
    </td>
</tr>
<tr class="maps_{{map_tab_name}}_non_yearly">
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/90GHz-T_map_delta_Decs_from_point_sources_in_ra5hdec-29.75.png'">
            <img style="display:block;" width="100%" name='dec_offsets_el10_{{map_tab_name}}' class="fig-with-border"
                src='staticimg/{{week_dir}}/90GHz-T_map_delta_Decs_from_point_sources_in_ra5hdec-29.75.png'>
        </a>
    </td>
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/90GHz-T_map_delta_Decs_from_point_sources_in_ra5hdec-33.25.png'">
            <img style="display:block;" width="100%" name='dec_offsets_el11_{{map_tab_name}}' class="fig-with-border"
                src='staticimg/{{week_dir}}/90GHz-T_map_delta_Decs_from_point_sources_in_ra5hdec-33.25.png'>
        </a>
    </td>
</tr>  
<tr class="maps_{{map_tab_name}}_non_yearly">
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/90GHz-T_map_delta_Decs_from_point_sources_in_ra5hdec-36.75.png'">
            <img style="display:block;" width="100%" name='dec_offsets_el20_{{map_tab_name}}' class="fig-with-border"
                src='staticimg/{{week_dir}}/90GHz-T_map_delta_Decs_from_point_sources_in_ra5hdec-36.75.png'>
        </a>
    </td>
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/90GHz-T_map_delta_Decs_from_point_sources_in_ra5hdec-40.25.png'">
            <img style="display:block;" width="100%" name='dec_offsets_el21_{{map_tab_name}}' class="fig-with-border"
            src='staticimg/{{week_dir}}/90GHz-T_map_delta_Decs_from_point_sources_in_ra5hdec-40.25.png'>
        </a>
    </td>
</tr>