<tr class="maps_{{map_tab_name}}_non_yearly">
    <td>
        <h3>RA Offsets of Points Sources</h3>
    </td>
</tr>
<tr class="maps_{{map_tab_name}}_non_yearly">
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/150GHz-T_map_delta_Ras_from_point_sources_in_ra0hdec-44.75.png'">
            <img style="display:block;" width="100%" name='ra_offsets_el0_{{map_tab_name}}' class="fig-with-border"
                src='staticimg/{{week_dir}}/150GHz-T_map_delta_Ras_from_point_sources_in_ra0hdec-44.75.png'>
        </a>
    </td>
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/150GHz-T_map_delta_Ras_from_point_sources_in_ra0hdec-52.25.png'">
            <img style="display:block;" width="100%" name='ra_offsets_el1_{{map_tab_name}}' class="fig-with-border"
                src='staticimg/{{week_dir}}/150GHz-T_map_delta_Ras_from_point_sources_in_ra0hdec-52.25.png'>
        </a>
    </td>
</tr>  
<tr class="maps_{{map_tab_name}}_non_yearly">
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/150GHz-T_map_delta_Ras_from_point_sources_in_ra0hdec-59.75.png'">
            <img style="display:block;" width="100%" name='ra_offsets_el2_{{map_tab_name}}' class="fig-with-border"
                src='staticimg/{{week_dir}}/150GHz-T_map_delta_Ras_from_point_sources_in_ra0hdec-59.75.png'>
        </a>
    </td>
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/150GHz-T_map_delta_Ras_from_point_sources_in_ra0hdec-67.25.png'">
            <img style="display:block;" width="100%" name='ra_offsets_el3_{{map_tab_name}}' class="fig-with-border"
            src='staticimg/{{week_dir}}/150GHz-T_map_delta_Ras_from_point_sources_in_ra0hdec-67.25.png'>
        </a>
    </td>
</tr>
<tr class="maps_{{map_tab_name}}_non_yearly">
    <td><br></td>
</tr>
  
<tr class="maps_{{map_tab_name}}_non_yearly">
    <td>
        <h3>Dec Offsets of Points Sources</h3>
    </td>
</tr>
<tr class="maps_{{map_tab_name}}_non_yearly">
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/150GHz-T_map_delta_Decs_from_point_sources_in_ra0hdec-44.75.png'">
            <img style="display:block;" width="100%" name='dec_offsets_el0_{{map_tab_name}}' class="fig-with-border"
        src='staticimg/{{week_dir}}/150GHz-T_map_delta_Decs_from_point_sources_in_ra0hdec-44.75.png'>
        </a>
    </td>
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/150GHz-T_map_delta_Decs_from_point_sources_in_ra0hdec-52.25.png'">
            <img style="display:block;" width="100%" name='dec_offsets_el1_{{map_tab_name}}' class="fig-with-border"
                src='staticimg/{{week_dir}}/150GHz-T_map_delta_Decs_from_point_sources_in_ra0hdec-52.25.png'>
        </a>
    </td>
</tr>
<tr class="maps_{{map_tab_name}}_non_yearly">
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/150GHz-T_map_delta_Decs_from_point_sources_in_ra0hdec-59.75.png'">
            <img style="display:block;" width="100%" name='dec_offsets_el2_{{map_tab_name}}' class="fig-with-border"
        src='staticimg/{{week_dir}}/150GHz-T_map_delta_Decs_from_point_sources_in_ra0hdec-59.75.png'>
        </a>
    </td>
    <td width="33%">
        <a href="javascript:location.href='staticimg/{{week_dir}}/150GHz-T_map_delta_Decs_from_point_sources_in_ra0hdec-67.25.png'">
            <img style="display:block;" width="100%" name='dec_offsets_el3_{{map_tab_name}}' class="fig-with-border"
                src='staticimg/{{week_dir}}/150GHz-T_map_delta_Decs_from_point_sources_in_ra0hdec-67.25.png'>
        </a>
    </td>
</tr>