<table style="table-layout:fixed;" cellpadding="5">
    <tr>
        <td colspan="1">
            <h3>Tipper</h3>
        </td>
        <td colspan="2" align="right" valign="top">
            <div id="lastmodified_weather">
                {{last_modified}}
            </div>
        </td>
    </tr>

    <tr>
        <td width="33%">
            <a href="javascript:location.href='staticimg/{{week_dir}}/tipper_tatm.png'">
                <img style="display:block;" width="100%" name='tipper_tatm' class="fig-with-border" src='staticimg/{{week_dir}}/tipper_tatm.png'>
            </a>
        </td>
        <td width="33%">
            <a href="javascript:location.href='staticimg/{{week_dir}}/tipper_tau.png'">
                <img style="display:block;" width="100%" name='tipper_tau' class="fig-with-border" src='staticimg/{{week_dir}}/tipper_tau.png'>
            </a>
        </td>
        <td width="33%">
            <a href="javascript:location.href='staticimg/{{week_dir}}/median_elnod_opacity_all.png'">
                <img style="display:block;" width="100%" name='elnod_tau_cp' class="fig-with-border"
                    src='staticimg/{{week_dir}}/median_elnod_opacity_all.png'>
            </a>
        </td>
    </tr>
    <tr><td><br></td></tr>

    <tr>
        <td>
            <br><h3>Weather Station</h3>
        </td>
    </tr>

    <tr>
        <td width="33%">
            <a href="javascript:location.href='staticimg/{{week_dir}}/weather_tatm.png'">
                <img style="display:block;" width="100%" name='weather_tatm' class="fig-with-border" src='staticimg/{{week_dir}}/weather_tatm.png'>
            </a>
        </td>
        <td width="33%">
            <a href="javascript:location.href='staticimg/{{week_dir}}/weather_humi.png'">
                <img style="display:block;" width="100%" name='weather_humi' class="fig-with-border" src='staticimg/{{week_dir}}/weather_humi.png'>
            </a>
        </td>
        <td width="33%">
            <a href="javascript:location.href='staticimg/{{week_dir}}/weather_pres.png'">
                <img style="display:block;" width="100%" name='weather_pres' class="fig-with-border" src='staticimg/{{week_dir}}/weather_pres.png'>
            </a>
        </td>
    <tr>            
    <tr>
        <td width="33%">
            <a href="javascript:location.href='staticimg/{{week_dir}}/weather_wmag.png'">
                <img style="display:block;" width="100%" name='weather_wmag' class="fig-with-border" src='staticimg/{{week_dir}}/weather_wmag.png'>
            </a>
        </td>
        <td width="33%">
            <a href="javascript:location.href='staticimg/{{week_dir}}/weather_wdir.png'">
                <img style="display:block;" width="100%" name='weather_wdir' class="fig-with-border" src='staticimg/{{week_dir}}/weather_wdir.png'>
            </a>
        </td>
    <tr>
    <tr><td><br></td></tr>

    <tr>
        <td>
            <br><h3>Receiver Cabin</h3>
        </td>
    </tr>

    <tr>
        <td width="33%">
            <a href="javascript:location.href='staticimg/{{week_dir}}/cabin_temps.png'">
                <img style="display:block;" width="100%" name='cabin_temps' class="fig-with-border" src='staticimg/{{week_dir}}/cabin_temps.png'>
            </a>
        </td>
    </tr>
    <tr><td><br></td></tr>

    <tr>
        <td>
            <br><h3>Cryostats</h3>
        </td>
    </tr>

    <tr>
        <td width="33%">
            <a href="javascript:location.href='staticimg/{{week_dir}}/fiftyk_temps.png'">
                <img style="display:block;" width="100%" name='50K_temps' class="fig-with-border" src='staticimg/{{week_dir}}/fiftyk_temps.png'>
            </a>
        </td>
        <td width="33%">
            <a href="javascript:location.href='staticimg/{{week_dir}}/fourk_temps.png'">
                <img style="display:block;" width="100%" name='4K_temps' class="fig-with-border" src='staticimg/{{week_dir}}/fourk_temps.png'>
            </a>
        </td>
    </tr>
</table>